* {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

body {
	margin: 0px;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

header {
	background: #131313;
	color: #FFFFFF;
	padding: 20px 0px;
	font-size: 30px;
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
}

footer {
	height: 100px;
	width: 100%;
	background: #131313;
	color: #FFFFFF;
	text-align: center;
}

footer .footer-container {
	padding: 40px 0px;
}

#container {
	display: flex;
	width: 100%;
	background: #F1F1F1;
}

#container #game {
	display: flex;
	flex: 0 0 60%;
}

#container #canvas {
	display: flex;
	flex: 0 0 40%;
}

#game > div {
	margin-left: 10px;
}

input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline-color: rgba(23, 167, 221, 1);
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	padding-left: 5px;
	border: 1px solid rgba(39,41,43,.5);
	box-shadow: 0 0 transparent inset;
	height: 30px;
	width: 230px;
	background: transparent;
}

/* Remove default ie input style */
input::-ms-clear {
	display: none;
}

input[type="button"] {
	cursor: pointer;
	outline: 0;
	border: 2px solid #113768;
	background-color: #113768;
	color: #FFF;
	box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15) inset;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
	transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
	will-change: '';
	-webkit-tap-highlight-color: transparent;
	height: 34px;
	width: 70px;
	/*font-size: 14px;*/
	font-weight: bold;
}

#container input[type="button"]:hover {
	background-color: #4a678c;
	border-color: #0d2a4f;
}

#container input[type="button"]:active {
	background-color: #000000;
	border-color: #000000;
}

#victim {
	display: none;
}

#victim-hint {
	font-size: 20px;
	color: red;
	margin-top: 40px;
}

#result {
	position: absolute;
	top: 415px;
	left: 0px;
}

/*********** Modal *****************/

/* NB - modal causing extra padding in ie */

.modal {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%);
	height: 300px;
	width: 50%;
	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;
}

.modal .mc {
	height: 70%;
	width: 100%;
	padding: 5px;
}

.modal .bc {
	position: relative;
	height: 40px;
	width: 100%;
	left: auto;
}

.modal .bc input {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.modal input[type="button"] {
	border: 2px solid #FFFFFF;
	color: inherit;
	background-color: #000000;
}

.modal input[type="button"]:hover {
	border-color: #FFFFFF;
	background-color: #131313;
}

.modal input[type="button"]:active {
	border-color: #FFFFFF;
	color: #000000;
	background-color: #FFFFFF;
}

.modal {
	display: none;
}

svg {
	height: 500px;
}

.st0 {
	fill: transparent;
	stroke: #000000;
	stroke-width: 3;
	stroke-miterlimit: 5;
}

/**********************************  HEAD  *******************************/
#head {
	display: none;
	/*stroke: #FFF;*/
}
#head.toggle {
	/*stroke: #000;*/
	display: block;
	stroke-dasharray: 232;
	stroke-dashoffset: 0;
	-webkit-animation: animate-head 1s linear forwards;
	-moz-animation: animate-head 1s linear forwards;
	-o-animation: animate-head 1s linear forwards;
	animation: animate-head 1s linear forwards;
}

@-webkit-keyframes animate-head {
	from {
		stroke-dashoffset: 232;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-moz-keyframes animate-head {
	from {
		stroke-dashoffset: 232;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-o-keyframes animate-head {
	from {
		stroke-dashoffset: 232;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes animate-head {
	from {
		stroke-dashoffset: 232;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/**********************************  TORSO  *******************************/
#torso {
	/*stroke: #FFF;*/
	display: none;
}
#torso.toggle {
	/*stroke: #000;*/
	display: block;
	stroke-dasharray: 170;
	stroke-dashoffset: 0;
	-webkit-animation: animate-torso 1s linear forwards;
	-moz-animation: animate-torso 1s linear forwards;
	-o-animation: animate-torso 1s linear forwards;
	animation: animate-torso 1s linear forwards;
}

@-webkit-keyframes animate-torso {
	from {
		stroke-dashoffset: 170;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-moz-keyframes animate-torso {
	from {
		stroke-dashoffset: 170;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-o-keyframes animate-torso {
	from {
		stroke-dashoffset: 170;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes animate-torso {
	from {
		stroke-dashoffset: 170;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/**********************************  Left Arm  *******************************/
#left-arm {
	/*stroke: #FFF;*/
	display: none;
}
#left-arm.toggle {
	/*stroke: #000;*/
	display: block;
	stroke-dasharray: 50;
	stroke-dashoffset: 0;
	-webkit-animation: animate-la 1s linear forwards;
	-moz-animation: animate-la 1s linear forwards;
	-o-animation: animate-la 1s linear forwards;
	animation: animate-la 1s linear forwards;
}

@-webkit-keyframes animate-la {
	from {
		stroke-dashoffset: 50;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-moz-keyframes animate-la {
	from {
		stroke-dashoffset: 50;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-o-keyframes animate-la {
	from {
		stroke-dashoffset: 50;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes animate-la {
	from {
		stroke-dashoffset: 50;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/**********************************  Right Arm  *******************************/
#right-arm {
	/*stroke: #FFF;*/
	display: none;
}
#right-arm.toggle {
	/*stroke: #000;*/
	display: block;
	stroke-dasharray: 50;
	stroke-dashoffset: 0;
	-webkit-animation: animate-ra 1s linear forwards;
	-moz-animation: animate-ra 1s linear forwards;
	-o-animation: animate-ra 1s linear forwards;
	animation: animate-ra 1s linear forwards;
}

@-webkit-keyframes animate-ra {
	from {
		stroke-dashoffset: 50;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-moz-keyframes animate-ra {
	from {
		stroke-dashoffset: 50;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-o-keyframes animate-ra {
	from {
		stroke-dashoffset: 50;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes animate-ra {
	from {
		stroke-dashoffset: 50;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/**********************************  Left Leg  *******************************/
#left-leg {
	/*stroke: #FFF;*/
	display: none;
}
#left-leg.toggle {
	/*stroke: #000;*/
	display: block;
	stroke-dasharray: 50;
	stroke-dashoffset: 0;
	-webkit-animation: animate-ll 1s linear forwards;
	-moz-animation: animate-ll 1s linear forwards;
	-o-animation: animate-ll 1s linear forwards;
	animation: animate-ll 1s linear forwards;
}

@-webkit-keyframes animate-ll {
	from {
		stroke-dashoffset: 47;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-moz-keyframes animate-ll {
	from {
		stroke-dashoffset: 47;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-o-keyframes animate-ll {
	from {
		stroke-dashoffset: 47;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes animate-ll {
	from {
		stroke-dashoffset: 47;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/**********************************  Right Leg  *******************************/
#right-leg {
	/*stroke: #FFF;*/
	display: none;
}
#right-leg.toggle {
	/*stroke: #000;*/
	display: block;
	stroke-dasharray: 50;
	stroke-dashoffset: 0;
	-webkit-animation: animate-rl 1s linear forwards;
	-moz-animation: animate-rl 1s linear forwards;
	-o-animation: animate-rl 1s linear forwards;
	animation: animate-rl 1s linear forwards;
}

@-webkit-keyframes animate-rl {
	from {
		stroke-dashoffset: 46;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-moz-keyframes animate-rl {
	from {
		stroke-dashoffset: 46;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-o-keyframes animate-rl {
	from {
		stroke-dashoffset: 46;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes animate-rl {
	from {
		stroke-dashoffset: 46;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/**********************************  STAND  *******************************/
#stand.toggle {
	
}

/**********************************  POLE  *******************************/
#pole.toggle {
	
}

/**********************************  POLE2  *******************************/
#pole2.toggle {
	
}

/**********************************  POLE3  *******************************/
#pole3.toggle {
	
}